
header {
    background-color: rgb(71, 71, 75);
    color: white;
    padding-bottom: 2%;
    margin-left: -1.5%;
    margin-right: -1.5%;
    text-align: center;
}

h2 {
    text-align: center;
}

.jumbotron-fluid {
    background-color: whitesmoke;
}

.list-group-item {
    width: 250px;
    display: inline-block;
}

.red {
background-color: red;
width: 10%;
}

.green {
background-color: green;
width: 10%;
}

.yellow {
    background-color: yellow;
    width: 10%;
}